body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

td {
    text-align: center;
    -webkit-user-select: none;
}

table input {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1em;
    border-style: none;
    text-align: center;
}

.save {
    margin-block-start: 1em;
}

center:nth-of-type(2) {
    margin-top: 50px;
    border-top: 1px solid skyblue;
}

#list_form input:hover {
    background: red;
}

#list_form {
    height: 10px;
}

.list_table {
    width: 100%;
    height: 0px;
    overflow: hidden;
}

.list_table tr {
    height: 100px;
}

.form_table tr {
    /* height: 100px; */
    position: relative;
}

#file_input {
    display: none;
}

.pictrue {
    cursor: pointer;
    position: relative;
    top: 5px;
    color: rgb(8, 12, 224);
    font-weight: bold;
}

.pictrue:hover #add_file {
    background: rgb(64, 146, 214);
}

.picture_container {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(/static/images/file.png)
}

.select_tips {
    font-size: 14px;
}

.load_pic {
    border-radius: 25px;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -moz-user-select: none;
    user-select: none;
    z-index: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.tips {
    display: block;
    color: rgb(197, 34, 34);
    font-size: 14px;
    font-weight: bold;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    background: rgba(73, 72, 72, 0.5);
}

.bg {
    margin: auto;
    position: absolute;
    background: green;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    transition: all 2s;
    animation: loading linear infinite 3s;
}

.bg1 {
    margin: auto;
    position: absolute;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    transition: all 2s;
    box-shadow: 10px 0px 5px #e90202;
    animation: loading1 linear infinite 3s;
}

.loading_container {
    margin: auto;
}

@keyframes loading {
    0% {
        background: white;
        box-shadow: 10px 0px 5px white;
        transform: rotate(0deg);
    }
    50% {
        background: red;
        box-shadow: 10px 0px 5px red;
        transform: rotate(360deg);
    }
    100% {
        background: white;
        box-shadow: 10px 0px 5px white;
        transform: rotate(0);
    }
}

@keyframes loading1 {
    0% {
        box-shadow: 10px 0px 5px white;
        transform: rotate(360deg);
    }
    50% {
        box-shadow: 10px 0px 5px red;
        transform: rotate(0deg);
    }
    100% {
        box-shadow: 10px 0px 5px white;
        transform: rotate(360deg);
    }
}